<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsServer>true</IsServer>
  <CurrentDevice>
    <ID></ID>
    <Port>9876</Port>
    <Host></Host>
    <Name></Name>
    <Services>
      <Service>
        <Name>TestService</Name>
        <Type>Services.TestService, Services</Type>
        <Contract>Interfaces.Services.ITestService, Interfaces</Contract>
        <Advanced>false</Advanced>
      </Service>
      <Service>
        <Name>AuditService</Name>
        <Type>Services.AuditService, Services</Type>
        <Contract>Interfaces.Services.IAuditService, Interfaces</Contract>
        <Advanced>false</Advanced>
      </Service>
    </Services>
  </CurrentDevice>
</Config>