<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Port>9876</Port>
  <Host>localhost</Host>
  <Services>
    <Service>
      <Name>TestService</Name>
      <Type>Services.TestService, Services</Type>
      <Contract>Interfaces.ITestService, Interfaces</Contract>
    </Service>
  </Services>
</Config>